html,body{
	
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.2em;
}


.container{
position: absolute;
top: 50px;
left: 0;
right: 0;
bottom: 0;
overflow: scroll;
-webkit-overflow-scrolling: touch;
}


.main__filtre{
height: 30px;
background: green;
}

ul{
	padding: 0;
	margin: 0;
	clear: both;
}

li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
.ul-h__li{
background: blue;
height: 50px;
}

.ul-h__li--a{
display: block;
color: white;
line-height: 50px;
text-align: center;
}

.ul-h__li:nth-child(odd){
	background: red;
}


.ul-v__li{
	
    float: left;
    
    
}

.col-2{
    width: 50%;
    line-height: 50px;

}

.col-3{
    width: 33.33%;
    line-height: 30px;

}

.ul-v__li--label{
	

    display: block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    text-align: center;
    background: #ddd;
}

.ul-v__li--label:hover{
 background: pink;
}



.footer,.header{
	position: fixed;
	height: 70px;
    background: #bbb;
    clear: both;
    line-height: 50px;
    font-size: 20px;
    z-index: 99999999;
}

.header{
	height: 50px;
	width: 100%;
}

.footer{
	bottom: 0;
	width: 100%;
}


/*.center{

	position: absolute;
	top: 50%;
	left: 50%;
	width: 60%;
	background: lightblue;
	-webkit-transform: translate(-50%, -50%);
	display: block;


}*/
