html,body{
	
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.2em;
}


.page_profil,.page_group,.page_search{
position: fixed;
background: blue;
top: 50px;
left: 0;
right: 0;
bottom: 0;
height: 380px;
width: 100%;
z-index:99999999999999;

}

.container{
  overflow-y: scroll;
	overflow-x: hidden;
	height:350px;
  top:50px;
  position:fixed;
  width:100%;
}

.page_search{
  background: red;
 -webkit-transform: translateY(-100%);
     -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
       -o-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .4s ease-in; /* Changed here */ 
     -moz-transition: -moz-transform .4s ease-in;
       -o-transition: -o-transform .4s ease-in;
          transition: transform .4s ease-in;


}

.page_profil{

background: green;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .4s ease-in; /* Changed here */ 
     -moz-transition: -moz-transform .4s ease-in;
       -o-transition: -o-transform .4s ease-in;
          transition: transform .4s ease-in;

}

.page_group{
background: orange;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .4s ease-in; /* Changed here */ 
     -moz-transition: -moz-transform .4s ease-in;
       -o-transition: -o-transform .4s ease-in;
          transition: transform .4s ease-in;

}


.main__filtre{
height: 30px;
background: green;
}

ul{
	padding: 0;
	margin: 0;
	clear: both;
}

li{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}
.ul-h__li{
background: blue;
height: 50px;
}

.ul-h__li--a{
display: block;
color: white;
line-height: 50px;
text-align: center;
}

.ul-h__li:nth-child(odd){
	background: red;
}


.ul-v__li{
	
    float: left;
    
    
}

.col-2{
    width: 50%;
    line-height: 50px;

}

.col-3{
    width: 33.33%;
    line-height: 30px;

}

.ul-v__li--label{
	

    display: block;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    text-align: center;
    background: #ddd;
}

.ul-v__li--label:hover{
    background: pink;
}



.footer,.header{
	position: fixed;
    background: #bbb;
    clear: both;
    line-height: 50px;
    font-size: 20px;
    z-index: 99999999;
}

.header{
	height: 50px;
	width: 100%;
  background-color:#006666;
  color:white;
}

.fa {
  color:white;
}

.header__div {
  height:100%;
  width:50%;
  float:left;
  position: relative;
}
.header__div__a,.header__div__span  {
  font-size:25px;
  line-height: 50px;
  width:50%;

}


.header__nav {
  height:100%;
  width:50%;
  float: right;
  position: relative;

}
.header__nav__ul {
  width:100%;
  height:100%;
}
.header__nav__ul__li {
  width:50%;
  height:100%;
  float: left;
  text-align: center;
  font-size:30px;
}
.header__nav__ul__li__a {
  position:relative;
}
.footer{
	bottom: 0;
	width: 100%;
}

input {
	display: none;
}

#my_group:checked~.cat_a{

	display: none;
	
}

#suivis:checked~.cat_b{

	display: none;
	
}

#all:checked~.cat{

	display: block;
	
}


#group:checked~.page_group,#profil:checked~.page_profil{

  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .4s ease-in; /* Changed here */ 
     -moz-transition: -moz-transform .4s ease-in;
       -o-transition: -o-transform .4s ease-in;
          transition: transform .4s ease-in;

}


/*.center{

	position: absolute;
	top: 50%;
	left: 50%;
	width:.40%;
	background: lightblue;
	-webkit-transform: translate(-50%, -50%);
	display: block;


}*/
